@import "active_admin/mixins";
@import "active_admin/base";

.markdown-box {
  display: inline-block;
  width: 76%;
}

#wmd-preview {
  padding: 10px;
}

#wmd-preview ul {
  list-style-type: square;
} 
  
